# DS Store 
.DS_Store
.DS_Store?
._*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
voting-app/demo/
wallet/
node_modules
package-lock.json

# Optional npm cache directory
.npm
