#menu {
  align-items: center;
}

#center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}

.centerButtons {
  margin-right: 10%;
  margin-left: 10%;
}
