.myform {
  padding: 10px 0px 10px 0px;
}

.photos {
  border: 1px solid lightgray;
  padding: black;
  border-radius: 4px;
  padding: 5px;
}

.center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}

.centerImg {
  margin: auto;
}

.afterSignContainer {
  border: 3px solid #d9dadb;
  padding: 10px;
  border-radius: 60px;
  background-color: mintcream;
}

.afterSignContainer .textColor {
  color: lightslategray;
}
